### 집합 활용 방법

In [ ]:
test={1,2,3}
test | {3,4,5}
test &{3,4,5}

test - {3,4,5}

In [1]:
list(set([1,1,2,2,234,5,6,6,7,77,7,89,9,9,9,9,9,0]))

[0, 1, 2, 5, 6, 7, 9, 234, 77, 89]

### 큐 생성

In [7]:
from collections import deque
dq =deque()
dq.append(10)
dq.appendleft(20)
print("1.",dq)
dq.append(30)
print("2.",dq)
dq.pop()
print("3.",dq)
dq.popleft()
print("4.",dq)

1. deque([20, 10])
2. deque([20, 10, 30])
3. deque([20, 10])
4. deque([10])

In [15]:
import time
import random
for _ in range(10):
    print("Hi")
    time.sleep(abs(random.gauss(0.1)))

random.gauss(0,1) ## 표준정규분포에서 꺼내옴

Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi

-0.19055535135232235

## pandas 공부

In [31]:
import pandas as pd
data=pd.read_csv("./data_krx.csv",encoding='cp949')
data.head()

,종목코드,종목명,시장구분,소속부,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수
0,060310,3S,KOSDAQ,벤처기업부,1725,63,3.79,1684,1768,1682,681558,1180748639,91686021120,53059040
1,095570,AJ네트웍스,KOSPI,NaN,4590,-5,-0.11,4620,4675,4575,209094,965488469,207936427605,45252759
2,006840,AK홀딩스,KOSPI,NaN,8470,-140,-1.63,8610,8630,8470,16220,138046550,112604268500,13247561
3,054620,APS,KOSDAQ,중견기업부,4025,-70,-1.71,4070,4170,3995,56797,229991095,74404623945,18394221
4,265520,AP시스템,KOSDAQ,우량기업부,20500,400,1.99,20500,21000,20000,181763,3718256925,308541830500,15050821

In [3]:
with open("./data_krx.csv","r",encoding='cp949') as f:
    data = f.read()

In [24]:
pip install tqdm

Collecting tqdm
  Using cached tqdm-4.67.1-py3-none-any.whl.metadata (57 kB)
Requirement already satisfied: colorama in c:\users\rosie\miniconda3\envs\pandas_2\lib\site-packages (from tqdm) (0.4.6)
Using cached tqdm-4.67.1-py3-none-any.whl (78 kB)
Installing collected packages: tqdm
Successfully installed tqdm-4.67.1
Note: you may need to restart the kernel to use updated packages.

In [29]:
import os 
import requests 
import time, random
from tqdm import tqdm
if not os.path.isdir("./stock"):
    os.mkdir("./stock")
    
past_day = str(date.today() - timedelta(days=30)).replace("-", "") + '0000'
today = str(date.today()).replace("-", "") + '0000'
for x in tqdm(data.split("\n")[1:]):
    # print(i)
    # if i == 10:
    #     break
    y  = x.replace('"', '').split(",")
    if y[2] == 'KOSPI':
        # print(y[0], y[1])
        url = f"https://api.stock.naver.com/chart/domestic/item/{y[0]}/day?startDateTime={past_day}&endDateTime={today}"
        # print(url)
        with open(f"./stock/{y[1]}.csv", "a", encoding='utf-8') as f:
            for x in requests.get(url).json():
                f.write(','.join(map(str,x.values())) + "\n")
    time.sleep(abs(random.gauss(0,1)))

  8%|▊         | 225/2903 [03:09<37:34,  1.19it/s]

KeyboardInterrupt: