In [ ]:

class Student: # 안에서 돌아가는 로직이라는 뜻 def__init__
    def __init__(self, name, korean, math, english, science):
        self.name = name 
        self.korean = korean
        self.math = math
        self.english = english 
        self.science = science 

    def get_data(self):
        return self.name

In [12]:
data = Student('원빈',100,90,80,70)
data2 = Student('장동건',100,90,80,70)

In [14]:
students = [Student('윤인성',80,80,80,80),
            Student('윤인성',80,80,80,80)]

In [24]:
class sk25(Student):
    def __init__(self, name, korean, math, english, science,phone):
        super().__init__(name,korean,math,english,science)
        self.phone=phone

    def get_math(self):
        return self.math
std1=sk25("서찬웅",100,100,100,100,'01000000000')
std1.name #서찬웅

std1.get_math() #100
std1.phone

'01000000000'

In [25]:
dir(sk25)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'get_data',
 'get_math']

In [ ]:
class Student:
    def __init__(self,name):
        self._name=name

    @property
    def math(self):
        return self.name
    
    @math.setter
    def math(self,value):
        print("setter")
        if 0<=value <=100:
            self._name= value
        else:
            raise ValueError("retry")
    
    @math.getter
    def name(self):
        print("getter")
        return self.name

    def __str__(self): #print 출력을 위한 내장함수
        return self._name
    
b = Student('엔코아')

In [45]:
try:
    b.math= 101
except Exception as e :
    print(e)

setter
retry

In [47]:
print(b)

엔코아

In [2]:
import pandas as pd
import numpy as np
import scipy as sp
print(np.__version__)
print(pd.__version__)
print(np.__version__)

1.26.3
2.2.0
1.26.3

In [6]:
from datetime import datetime, date , timedelta
import requests 

url = "https://api.stock.naver.com/chart/domestic/item/{}/day?startDateTime={}&endDateTime={}"
url.format('005930', datetime.now().strftime("%Y%m%d") + "0000", datetime.now().strftime("%Y%m%d") + "0000")


r = requests.get(url.format('005930', '202512010000', datetime.now().strftime("%Y%m%d") + "0000"))



result = r.json()
for x in result:
    x['거래금액'] = x['accumulatedTradingVolume'] * x['closePrice']

df = pd.DataFrame(result)

In [7]:
df.head()

,localDate,closePrice,openPrice,highPrice,lowPrice,accumulatedTradingVolume,foreignRetentionRate,거래금액
0,20251201,100800.0,102000.0,102800.0,99900.0,10905526,52.14,1.099277e+12
1,20251202,103400.0,101200.0,103500.0,101000.0,13649487,52.22,1.411357e+12
2,20251203,104500.0,104700.0,105500.0,104000.0,14697927,52.24,1.535933e+12
3,20251204,105100.0,103900.0,105100.0,103200.0,11931145,52.21,1.253963e+12
4,20251205,108400.0,105300.0,108400.0,104600.0,19755571,52.28,2.141504e+12

In [8]:
type(df)

pandas.core.frame.DataFrame

In [13]:
df['closePrice_dollar']=df['closePrice']/1450

In [ ]:
np.array([1,2,3])/10
# array([0.1, 0.2, 0.3])

array([0.1, 0.2, 0.3])