In [ ]:
## 백준 7785 내 풀이

answer=[]
num=int(input())
personinfo=[]
for _ in range(num):
    person = input().split()
    personinfo.append(person)
personinfo=dict(personinfo)

for per, exist in personinfo.items():
    if exist =='enter':
        answer.append(per)
answer.sort(reverse=True)
for a in answer:
    print(a)

In [ ]:
n = int(input())
list_check = dict()
for _ in range(n):
    name, check = input().split()
    if check == 'enter':
        list_check[name] = 1
    else:
        del list_check[name]

for name, _ in sorted(list_check.items(), key=lambda x : x[0], reverse=True):
    print(name)

In [ ]:
'201107' > '20260101' #False , 날짜 다루기 조심
hex(ord('a'))

False

## kbo 데이터로 pandas 공부

In [25]:
import pandas as pd
kbo_df= pd.read_csv('./kbo.csv',encoding="utf-8")

In [14]:
kbo_df.head()

,선수명,등번호,생년월일,포지션,신장/체중,경력,입단 계약금,연봉,지명순위,입단년도,Team
0,강민,No.100,2001년 04월 20일,투수(우투우타),188cm/88kg,수유초-홍은중-서울고,8000만원,3000만원,20 LG 2차 4라운드 33순위,NaN,LG 트윈스
1,고영웅,No.116,2004년 07월 29일,투수(좌투좌타),180cm/90kg,태전초(경기광주시리틀)-모가중-야로고BC-동원대,3000만원,3000만원,25 LG 10라운드 100순위,NaN,LG 트윈스
2,구본혁,No.6,1997년 01월 11일,내야수(우투우타),177cm/75kg,중대초-잠신중-장충고-동국대-LG-상무,5000만원,13500만원,19 LG 2차 6라운드 55순위,19LG,LG 트윈스
3,김강률,No.37,1988년 08월 28일,투수(우투우타),187cm/95kg,문촌초(일산리틀)-장성중-경기고-두산-상무-두산,8000만원,10000만원,07 두산 2차 4라운드 26순위,07두산,LG 트윈스
4,김대현,No.12,1997년 03월 08일,투수(우투우타),188cm/100kg,홍연초(마포구리틀)-홍은중-선린인터넷고,27000만원,7500만원,16 LG 1차,16LG,LG 트윈스

In [17]:
kbo_df.loc[1,'경력']
kbo_df.iloc[1,5]

'태전초(경기광주시리틀)-모가중-야로고BC-동원대'

In [ ]:
height= int("188cm/88kg	".split('/')[0].replace("cm",""))
weight= int("188cm/88kg	".split('/')[1].replace("kg",""))

round(weight/(height/100)**2,2)

24.9

In [ ]:
kbo_df['신장'] = kbo_df['신장/체중'].apply(lambda x : x.split('/')[0].replace("cm", ""))
kbo_df['체중'] = kbo_df['신장/체중'].apply(lambda x : x.split('/')[1].replace("kg", ""))

kbo_df=kbo_df[kbo_df['신장']!=''].copy()

kbo_df['신장']=kbo_df['신장'].astype(int)
kbo_df['체중']=kbo_df['체중'].astype(int)

In [49]:
kbo_df['bmi']=(kbo_df['체중']/(kbo_df['신장']/100)**2)
kbo_df.sort_values(by=['bmi'],ascending=False).tail()

,선수명,등번호,생년월일,포지션,신장/체중,경력,입단 계약금,연봉,지명순위,입단년도,Team,신장,체중,bmi
456,성지훈,No.57,2000년 01월 29일,투수(좌투좌타),181cm/68kg,송정동초-무등중-광주제일고-동아대,NaN,3000만원,23 한화 육성선수,24한화,한화 이글스,181,68,20.756387
462,엄상백,No.11,1996년 10월 04일,투수(우언우타),187cm/72kg,역삼초-언북중-덕수고-KT-상무-KT,23000만원,90000만원,15 KT 1차,15KT,한화 이글스,187,72,20.589665
227,이태규,No.45,2000년 02월 21일,투수(우투좌타),188cm/72kg,희망대초-매향중-장안고-KIA,8000만원,3000만원,19 KIA 2차 3라운드 30순위,23KIA,KT 위즈,188,72,20.371209
36,백선기,No.114,1998년 08월 27일,투수(좌투좌타),186cm/70kg,남도초-경상중-대구상원고-KT,5000만원,3000만원,18 KT 2차 7라운드 61순위,NaN,LG 트윈스,186,70,20.233553
254,강한울,No.6,1991년 09월 12일,내야수(우투좌타),181cm/66kg,사당초-중앙중-안산공고-원광대-KIA-삼성-상무,14000만원,7000만원,14 KIA 2차 1라운드 5순위,14KIA,삼성 라이온즈,181,66,20.145905