In [18]:
import pandas as pd

In [19]:
kbo_df=pd.read_csv("./kbo.csv")

In [20]:
kbo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 870 entries, 0 to 869
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   선수명     870 non-null    object
 1   등번호     870 non-null    object
 2   생년월일    870 non-null    object
 3   포지션     870 non-null    object
 4   신장/체중   870 non-null    object
 5   경력      870 non-null    object
 6   입단 계약금  755 non-null    object
 7   연봉      864 non-null    object
 8   지명순위    868 non-null    object
 9   입단년도    692 non-null    object
 10  Team    870 non-null    object
dtypes: object(11)
memory usage: 74.9+ KB

In [ ]:
kbo_df['생년월일'].isnull().sum()
kbo_df['생년월일'].apply(lambda x : len(x) !=13).sum()

0

In [ ]:
# kbo_df['생년월일']=pd.to_datetime(kbo_df['생년월일'],format='%Y년 %m월 %d일')
# kbo_df['days']=datetime.now()-kbo_df['생년월일']

In [29]:
from datetime import datetime


kbo_df['days'] = kbo_df['생년월일'].apply(lambda x :  \
            (datetime.now() - datetime.strptime(x, "%Y년 %m월 %d일")).days)
kbo_df.sort_values(by=['Team','days'],ascending=[True,False])

,선수명,등번호,생년월일,포지션,신장/체중,경력,입단 계약금,연봉,지명순위,입단년도,Team,days
598,최형우,No.34,1983년 12월 16일,외야수(우투좌타),180cm/106kg,진북초-전주동중-전주고-삼성-경찰-삼성,5000만원,100000만원,02 삼성 2차 6라운드 48순위,02삼성,KIA 타이거즈,15364
520,김건국,No.43,1988년 02월 02일,투수(우투우타),183cm/86kg,한서초(서부리틀)-청량중-덕수고-두산-KT-롯데,13000만원,4500만원,06 두산 2차 1라운드 6순위,06두산,KIA 타이거즈,13855
558,양현종,No.54,1988년 03월 01일,투수(좌투좌타),183cm/91kg,학강초-광주동성중-광주동성고-KIA-텍사스,20000만원,50000만원,07 KIA 2차 1라운드 1순위,07KIA,KIA 타이거즈,13827
517,고종욱,No.57,1989년 01월 11일,외야수(우투좌타),184cm/83kg,역삼초-대치중-경기고-한양대-히어로즈-상무-히어로즈-SK-SSG,8000만원,15000만원,11 넥센 3라운드 19순위,11넥센,KIA 타이거즈,13511
553,서건창,No.58,1989년 08월 22일,내야수(우투좌타),176cm/84kg,송정동초-충장중-광주제일고-LG-히어로즈-키움-LG,NaN,12000만원,08 LG 육성선수,08LG,KIA 타이거즈,13288
...,...,...,...,...,...,...,...,...,...,...,...,...
508,한지윤,No.67,2006년 04월 10일,포수(우투우타),188cm/98kg,가동초-휘문중-경기상고,11000만원,3000만원,25 한화 3라운드 22순위,25한화,한화 이글스,7213
428,권민규,No.64,2006년 05월 13일,투수(좌투좌타),188cm/90kg,청주석교초-세광중-세광고,16000만원,3000만원,25 한화 2라운드 12순위,25한화,한화 이글스,7180
455,배승수,No.98,2006년 05월 15일,내야수(우투우타),184cm/73kg,가동초-자양중-덕수고,9000만원,3000만원,25 한화 4라운드 32순위,25한화,한화 이글스,7178
464,엄요셉,No.108,2006년 05월 29일,투수(우투우타),190cm/94kg,오산광성초(오산시리틀)-성일중-구리인창고,4000만원,3000만원,25 한화 9라운드 82순위,NaN,한화 이글스,7164
492,정우주,No.43,2006년 11월 07일,투수(우투우타),184cm/88kg,구남초(남양주리틀)-건대부중-전주고,50000만원,3000만원,25 한화 1라운드 2순위,25한화,한화 이글스,7002

In [30]:
kbo_df['Team'].unique()

array(['LG 트윈스', 'SSG 랜더스', 'KT 위즈', '삼성 라이온즈', '롯데 자이언츠', '한화 이글스',
       'KIA 타이거즈', 'NC 다이노스', '두산 베어스', '키움 히어로즈', '고양 히어로즈'],
      dtype=object)

In [36]:
kbo_df[kbo_df['Team']=='고양 히어로즈']
kbo_df.loc[kbo_df['Team']=='고양 히어로즈','Team'] = '키움 히어로즈'
kbo_df['Team'].unique()

array(['LG 트윈스', 'SSG 랜더스', 'KT 위즈', '삼성 라이온즈', '롯데 자이언츠', '한화 이글스',
       'KIA 타이거즈', 'NC 다이노스', '두산 베어스', '키움 히어로즈'], dtype=object)

In [ ]:
kbo_df[(kbo_df['Team']=='LG 트윈스') & (kbo_df['포지션']=='투수(우투우타)')]
kbo_df[(kbo_df['Team']=='LG 트윈스') | (kbo_df['포지션']=='투수(우투우타)')]

In [37]:
kbo_df.to_csv('./kbo2.csv',index=False)

In [47]:
import re
p=re.compile("[가-힣a-zA-Z]+초")
kbo_df['출신초등학교'] = kbo_df['경력'].apply(lambda x : p.findall(x.split('-')[0])[0] if len(p.findall(x.split('-')[0])) > 0 else '-')

In [52]:
kbo_df.to_csv('./kbo2.csv',index=False)