In [ ]:
pip install sqlalchemy
pip install mysqlclient

## python과 sql 연결을 시도하다

In [3]:
import MySQLdb

conn=MySQLdb.connect(host='myserver',user='play',passwd='123',db='encore')

cursor= conn.cursor()
# cursor.execute("show tables")

In [ ]:
cursor.execute("select * from members") #파이썬에서는 세미콜론 안써도 됨

In [ ]:
file = "./소상공인시장진흥공단_전국 온누리상품권 가맹점 현황_20250731.csv"
with open(file, 'r', encoding='utf-8') as f:
    for i,x in enumerate(f):
        pass
print(i)

In [ ]:
cursor.fetchall()

cursor로 테이블 만들기

In [ ]:
file = "./소상공인시장진흥공단_전국 온누리상품권 가맹점 현황_20250731.csv"

In [ ]:
import csv

sql_insert = "INSERT INTO onnuri VALUES (%s, %s, %s, %s, %s, %s, %s)"
with open(file, 'r', encoding='utf-8') as f:
    csv_reader = csv.reader(f)
    header = next(csv_reader)
    # print(f"헤더: {header}")
    for row_index, row_data in enumerate(csv_reader):
            if len(row_data) == 7:
                # print(row_data)
                cursor.execute(sql_insert, row_data)
conn.commit()

In [ ]:
import pandas as pd

In [ ]:
sql = "SELECT DISTINCT (category) from onnuri o"
df =pd.read_sql_query(sql,conn)

In [ ]:
df.to_csv("./온누리상품권카테고리.csv",index=False,encoding='utf-8-sig')

## 호텔 정보 넣기

In [4]:
sql= """CREATE TABLE hotel_ratings (
   rating VARCHAR(100) NOT NULL,  -- 등급 인정처
   hotel_type VARCHAR(50) NOT NULL,        -- 호텔업 구분
   final_rating VARCHAR(20) NOT NULL,      -- 결정 등급
   rating_date DATE NOT NULL,     -- 등급 결정일
   region VARCHAR(50) NOT NULL,            -- 지역
   hotel_name VARCHAR(100) NOT NULL,       -- 호텔명
   room_count INT NOT NULL,                -- 객실수
   address VARCHAR(200) NOT NULL,          -- 주소
   phone_number VARCHAR(20),               -- 전화번호
   website_url VARCHAR(255),                -- 홈페이지
   primary key (hotel_name, address)
);
"""

cursor.execute(sql)

0

In [5]:
import csv
file = "./문화체육관광부_전국호텔현황_20230405.csv"
sql = "INSERT INTO hotel_ratings VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
with open(file, 'r', encoding='utf-8') as f:
    csv_reader = csv.reader(f)
    header = next(csv_reader)
    # print(f"헤더: {header}")
    for row_index, row_data in enumerate(csv_reader):
        if len(row_data) == 10:
            try:
                cursor.execute(sql, row_data)
            except Exception as e:
                print(e)

(1062, "Duplicate entry '소피텔 앰배서더 서울 호텔 & 서비스드 레지던스' for key 'hotel_ratings.PRIMARY'")
(1062, "Duplicate entry '베스트웨스턴 프리미어 인천 에어포트 호텔-인ì²' for key 'hotel_ratings.PRIMARY'")
(1062, "Duplicate entry '스탠포드 호텔 부산-부산광역시\xa0중구\xa0구덕로\xa05' for key 'hotel_ratings.PRIMARY'")
(1062, "Duplicate entry '리버관광호텔-인천광역시 계양구 계양문화로53ë²' for key 'hotel_ratings.PRIMARY'")

In [6]:
conn.commit()